/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
  --primary: #6366f1;
  --primary-hover: #4f46e5;
}

@theme {
  /* Colors */
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-bg-gradient-start: #f5f7fa;
  --color-bg-gradient-end: #c3cfe2;

  /* Font Family */
  --font-inter: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

/* input::placeholder{
    color: gray;
} */
.toast-success .mdc-snackbar__surface {
  background-color: #6366f1 !important;
  color: white !important;
}

.toast-error .mdc-snackbar__surface {
  background-color: #ef4444 !important;
  color: white !important;
}

.toast-info .mdc-snackbar__surface {
  background-color: #3b82f6 !important;
  color: white !important;
}

.toast-warning .mdc-snackbar__surface {
  background-color: #f59e0b !important;
  color: black !important;
}

.toast-success .mat-mdc-snack-bar-action {
  color: white !important;
}

.toast-error .mat-mdc-snack-bar-action {
  color: white !important;
}