/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
  --primary: #6366f1;
  --primary-hover: #4f46e5;
}

@theme {
  /* Colors */
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-bg-gradient-start: #f5f7fa;
  --color-bg-gradient-end: #c3cfe2;

  /* Font Family */
  --font-inter: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }

/* input::placeholder{
    color: gray;
} */