/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
  --primary: #6366f1;
  --primary-hover: #4f46e5;
}

@theme {
  /* Colors */
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-bg-gradient-start: #f5f7fa;
  --color-bg-gradient-end: #c3cfe2;

  /* Font Family */
  --font-inter: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

/* input::placeholder{
    color: gray;
} */
.toast-success .mdc-snackbar__surface {
  background-color: #6366f1 !important;
  color: white !important;
}

.toast-error .mdc-snackbar__surface {
  background-color: #ef4444 !important;
  color: white !important;
}

.toast-info .mdc-snackbar__surface {
  background-color: #3b82f6 !important;
  color: white !important;
}

.toast-warning .mdc-snackbar__surface {
  background-color: #f59e0b !important;
  color: black !important;
}

.toast-success .mat-mdc-snack-bar-action {
  color: white !important;
}

.toast-error .mat-mdc-snack-bar-action {
  color: white !important;
}

/* Target ng-select wrapper */
.ng-select-custom {
  width: 100%;
  font-size: 0.875rem; /* text-sm */
}

/* Inner input inside ng-select */
.ng-select-custom .ng-select-container {
  min-height: 2.5rem; /* matches h-10 */
  padding: 0.5rem 0.75rem; /* adjust padding like Tailwind */
  border-radius: 0.5rem; /* rounded-lg */
  border: 1px solid #d1d5db; /* gray-300 */
}

/* Placeholder text */
.ng-select-custom .ng-placeholder {
  color: #9ca3af; /* Tailwind gray-400 */
}

/* Selected item text */
.ng-select-custom .ng-value {
  font-size: 0.875rem;
}

/* Dropdown panel */
.ng-select-custom .ng-dropdown-panel {
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}